<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include src="'template/header-image-logo.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">

        <div class="container" data-ng-controller="accountManagementCtrl as amctrl">
            <div class="block-header">
                <h2>Account Management and Admin Controls</h2>
            </div>
            <!-- CONTENT CARDS AS BELOW-->
            <div class="card">
                <div class="card-header">
                    <h2>Students <small>To add a student, enter their account information below, and click the arrow below.</small></h2>
                </div>

                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="Student Name" ng-model="newStudent.name">
                    </div>
                </div>

                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="number" class="form-control" placeholder="Student RFID" ng-model="newStudent.rfid">
                    </div>
                </div>

                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                    <div class="form-group">
                        <div class="fg-line">
                            <div class="select">
                                <select class="form-control" placeholder="Please select a school" ng-model="newStudent.school" ng-options="key as value.name for (key, value) in schoolList">
                                    <option value="" disabled selected>Please select a school</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                    <div class="form-group">
                        <div class="fg-line">
                            <div class="select">
                                <select class="form-control" placeholder="Please select a default guardian" ng-model="newStudent.defGuardian" ng-options="key as value.name for (key, value) in guardianList">
                                    <option value="" disabled selected>Please select a default guardian</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <a href="" class="btn btn-login btn-danger" ng-click="addStudent()"><i class="zmdi zmdi-arrow-forward"></i></a>
                    <small>Click the arrow to submit!</small>
                </div>

            </div>
            <!-- END CONTENT CARD-->
            <!-- CONTENT CARDS AS BELOW-->
            <div class="card" data-ng-controller="loginCtrl as lctrl">
                <div class="card-header">
                    <h2>Guardians <small>To add a guardian, enter their account information below, and click the arrow below.</small></h2>
                </div>

                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="Username" ng-model="register.username">
                    </div>
                </div>

                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="Email Address" ng-model="register.emailAddress">
                    </div>
                </div>

                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                    <div class="fg-line">
                        <input type="password" class="form-control" placeholder="Password" ng-model="register.password">
                    </div>
                </div>

                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                    <div class="form-group">
                        <div class="fg-line">
                            <div class="select">
                                <select class="form-control" placeholder="Please select a school" ng-model="register.school" ng-options="key as value.name for (key, value) in schoolList">
                                    <option value="" disabled selected>Please select a school</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <a href="" class="btn btn-login btn-danger" ng-click="registerAccount()"><i class="zmdi zmdi-arrow-forward"></i></a>
                    <small>Click the arrow to submit! Note that you will be immediately logged in on the new account.</small>
                </div>

            </div>
            <!-- END CONTENT CARD-->
            <div class="row">
            </div>
        </div>

    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
